@use 'abstracts' as *;
@use 'base/button' as *;

.footer {
    padding: 0 10px 20px;
    color: var(--color-white);
    z-index: 11;
    overflow-x: clip;
    position: relative;

    @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(lg) {       
        padding: 0 var(--section-padding) var(--section-padding); 
    }
    @include breakpoint(xl) {   
        max-width: 1200px;
    }

    &__headline {
        @extend %H2;

        text-align: left;
        text-wrap: balance;
        max-width: 1000px;
        margin: 0 auto 0 0;
        position: relative;
        
        @include breakpoint(xl) {   
            max-width: unset;
            margin: unset;
            min-width: 400px;
        }

        &::before {
            content: 'Play your own song...';
            font-size: var(--font-size-medium);
            font-weight: 700;
            text-align: right;
            position: absolute;
            background-color: var(--color-light-grey);
            color: var(--color-black);
            padding: 10px;
            mix-blend-mode: difference;
            left: 0;
            bottom: -43px;
            max-width: 250px;
        }
    }

    &__zettel-list {
        display: flex;
        justify-content: center;
        height: 230px;
        position: relative;
    }

    &__zettel-list-item {
        width: 40px;
        height: 100%;
        position: relative;
        font-size: 0;
        border-color: var(--color-light-grey);
        border-style: solid dashed dashed hidden;
        border-width: 2px;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.3s ease;

        @include breakpoint(md) {   
            width: 50px;
        }

        &:first-of-type {
            border-style: solid dashed dashed dashed;
        }

        &:hover {
            transform: translateY(5px) scale(1.05);
            border-color: var(--color-primary);
            border-style: solid;
            box-shadow: 0 0 10px 0 var(--color-primary) inset, 0 0 20px 2px var(--color-primary);
        }

        &::before {
            content: attr(data-text);
            font-size: 16px;
            font-weight: 400;
            position: absolute;
            top: 50%;
            left: 50%;
            white-space: nowrap;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }


    &__audio-toggle {
        position: absolute;
        height: 50px;
        right: 15px;

        @include breakpoint(md) {  
            right: unset; 
            left: 50%;
            transform: translateX(calc(-50% + 170px))
        }
        @include breakpoint(xl) {   
            transform: translateX(calc(-50% + 200px))
        }
        
        @extend %BUTTON-DARK;

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: red;
            transform: rotate(45deg);
            opacity: 0;
        }

        &.sound-is-off::after {
            opacity: 1;
        }
    }

    &__link-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @include breakpoint(md) {
            flex-direction: row;
        }
    }

    &__link-list-item {
        @include breakpoint(md) {
            margin-right: 20px;
        }
    }

    &__top,
    &__bottom {
        padding: 15px 0;
        display: flex;
        flex-direction: column;

        @include breakpoint(md) {
            padding: 15px;
        }
    }

    &__top {        
        @include breakpoint(xl) {   
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 50px;
        }
    }

    &__face-wrapper { 
        @include breakpoint(xl) {   
            margin-top: 100px;  
        }
    }

    &__bottom {
        margin-top: 90px;
        text-align: right;
        font-size: var(--font-size-small);
    }
}