@use 'abstracts' as *;

$block: '.nav';

#{$block} {
    height: 100%;

    &__list {
        display: flex;
        gap: 20px;
        height: 100%;
        align-items: center;
    }

    &__link {
        color: var(--color-light-grey);

        .page-is-scrolled & {
            color: var(--color-black);
        }
    }
}