@use '../abstracts' as *;
@use '../base/button' as *;

$block: ".about-me";

#{$block} {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 11;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;

    @include breakpoint(xl) {   
        padding-bottom: 300px;        
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    &__col {
        flex: 1;

        @include breakpoint(xl) {   
            flex: unset;
        }

        &--image {
            position: relative;
            width: 400px;
            overflow: clip;
            aspect-ratio: 3 / 4;
            max-height: 100vh;
            max-width: calc(100% - 40px);

            @include breakpoint(xl) {   
                position: sticky;
                margin: 0 0 0 auto;
                top: 100px;
                width: 450px;
            }

            @keyframes size {
                from {
                    font-variation-settings: 'wght' 100;
                }
                to {
                    font-variation-settings: 'wght' 900;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                mix-blend-mode: difference;
                background-color: #f7f7f7;
                z-index: 10;
                pointer-events: none;
                z-index: 11;
                color: var(--color-light-grey);
            }
        }

        &--text {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 13;
            font-family: var(--font-heading);
            font-weight: var(--weight-semibold);
            color: var(--color-black);
            font-size: 20px;
            font-variation-settings: 'wght' 900;
            text-transform: uppercase;
            --mask-size: 0;
            margin: auto;
            cursor: move;
            -webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
            mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
            -webkit-mask-size: var(--mask-size);
            mask-size: var(--mask-size);          
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            mask-type: luminance;
            -webkit-mask-position-x: calc(var(--mouseX) * 1%);
            -webkit-mask-position-y: calc(var(--mouseY) * 1%);
            transition: mask-size 0.5s ease;
            mix-blend-mode: soft-light;
            filter: contrast(200%);
            text-align: center;
            line-height: 1;
        }

        &--content {
            max-width: calc(100% - 20px);

            @include breakpoint(xl) {
                max-width: calc(100% - 40px);  
                width: calc(100% - 500px);         
            }

            h3 {
                @extend %H3;

                text-transform: uppercase;
            }
        }
    }

    &__headline {
        @extend %H2;

        text-align: right;
        margin-top: -10px;
        position: relative;
        z-index: 1;
        transform: rotate(0);
        margin-bottom: 100px;
        pointer-events: none;

        
        @include breakpoint(xl) {
            font-size: 17rem;
            margin-right: -100px;
            margin-top: 400px;
            mix-blend-mode: difference;
        }

        &::before {
            @include breakpoint(xl) {
                content: 'hover me...';
                font-size: var(--font-size-medium);
                font-weight: 700;
                text-align: right;
                position: absolute;
                background-color: var(--color-light-grey);
                color: var(--color-black);
                padding: 10px;
                mix-blend-mode: difference;
                right: 50px;
                bottom: -38px;
                max-width: 250px;
            }
        }
    }

    &__text {
        .intro {
            text-align: center;
            margin-bottom: 20px;

            @include breakpoint(xl) {
                text-align: right;
                width: 90%;
            }
        }

        h3 {
            width: 100%;
            text-align: center;
            margin-top: 20px;

            @include breakpoint(xl) {
                text-align: right;
                width: 90%;
            }
        }

        > div {
            position: relative;
            padding-left: 0;
            padding-right: 50px;
            padding-bottom: 50px;
            width: 50%;
            text-align: right;

            @include breakpoint(xl) {
                text-align: right;
                width: 90%;
            }

            &:nth-of-type(even) {
                transform: translate(calc(100% - 2px));
                text-align: left;
                padding-left: 50px;
                padding-right: 0;

                &::before {
                    left: 0;
                    right: auto;
                }

                &::after {
                    left: -4px;
                }

                .year {
                    left: -25px;
                    right: auto;
                }

                @include breakpoint(xl) {    
                    transform: translate(0);                
                    padding-left: 0;
                    padding-right: 50px;
                    padding-bottom: 50px;
                    text-align: right;

                    &::before {
                        left: auto;
                        right: 0;
                    }
        
                    &::after {
                        left: auto;
                    }

                    .year {
                        left: auto;
                        right: -50px;
                    }
                }
            }

            &::before,
            &::after {
                content: '';
                background-color: var(--color-light-grey);
                position: absolute;
            }

            &::before {
                bottom: 0;
                width: 2px;
                top: 5px;
                left: auto;
                right: 0;
            }

            &::after {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 0;
                left: auto;
                right: -4px;
            }

            .year {
                position: absolute;
                transform: rotate(90deg);
                top: 45px;
                bottom: auto;
                left: auto;
                right: -25px;
                font-size: var(--font-size-small);
                line-height: 1;

                @include breakpoint(xl) {
                    right: -50px;
                }
            }

            .stuff {
                text-wrap: balance;

                @include breakpoint(xl) {
                    width: 50%;
                    margin-right: 0;
                    margin-left: auto;
                }
            }

            .description {
                font-weight: 300;
                font-size: var(--font-size-small);
                text-wrap: balance;

                span {
                    display: block;
                }

                @include breakpoint(xl) {
                    width: 50%;
                    margin-right: 0;
                    margin-left: auto;
                }
            }
        }
    }

    &__img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        min-width: 100%;

        &--2 {
            --mask-size: 0;
            margin: auto;
            cursor: move;
            -webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
            mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
            -webkit-mask-size: var(--mask-size);
            mask-size: var(--mask-size);          
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            mask-type: luminance;
            -webkit-mask-position-x: calc(var(--mouseX) * 1%);
            -webkit-mask-position-y: calc(var(--mouseY) * 1%);
            transition: mask-size 0.5s ease;
            z-index: 12;            
            filter: contrast(120%);
        }
        &--1 {
            pointer-events: none;
        }
    }

    &__button {
        position: absolute;
        right: 10px;
        bottom: calc(var(--font-size-h2) / 2);
        z-index: 13;

        @extend %BUTTON-PRIMARY;
    }

    .popup--open .popup__content {
        background: rgba(0, 0, 0, 0.4);

        p {
            font-size: 14px;
        }
    }
}