@use '../abstracts' as *;

%BUTTON-PRIMARY {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0 15px;
    height: 50px;
    background-color: var(--color-light-grey);
    border: 2px solid var(--color-light-grey);
    color: var(--color-black);
    font-size: var(--font-size-small);
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--color-black);
        border: 2px solid var(--color-black);
        color: var(--color-light-grey);
    }
}

%BUTTON-NEON {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0 15px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid var(--color-primary);
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    backdrop-filter: blur(10px);

    &:hover {
        box-shadow: 0 0 10px 0 var(--color-primary) inset, 0 0 20px 2px var(--color-primary);
        border: 2px solid var(--color-primary);
    }
}

%BUTTON-DARK {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0 15px;
    height: 50px;
    background-color: var(--color-black);
    border: 2px solid var(--color-primary);
    color: var(--color-light-grey);
    font-size: var(--font-size-small);
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px 0 var(--color-primary) inset, 0 0 20px 2px var(--color-primary);
        border: 2px solid var(--color-primary);
    }
}

//ToDo: what happens with very long text inside button : two Lines?
.button {
    @extend %BUTTON-PRIMARY;
}

.back-to-top {
    @extend %BUTTON-DARK;

    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    pointer-events: none;
    z-index: 12;

    .page-is-scrolled:not(.fullscreen) & {
        opacity: 1;
        pointer-events: all;
    }
}