@use '../abstracts' as *;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background: var(--color-black);
    color: var(--color-text-default);
    overflow-x: clip;    
    font-family: var(--font-base);
    font-weight: var(--weight-light);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    font-style: normal;
    min-height: 100vh;

    &.fullscreen {
        overflow: hidden;
    }
}

:target {
    scroll-margin-top: calc(var(--header-height) + 20px); /* Offset for the fixed header */
}

::selection {
    background: var(--color-black);
    color: var(--color-white);
}