@use 'variables' as *;

@font-face {
    font-family: 'Akshar';
    src: url('/assets/fonts/akshar-variable.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

%H1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-headline);
    font-weight: var(--weight-semibold);
    margin-bottom: var(--space-headline);
    text-transform: uppercase;
}

%H2 {
    font-family: var(--font-heading);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-headline);
    margin-bottom: var(--space-headline);
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.8;

    span {
        font-weight: var(--weight-regular);
        display: block;
    }
}

%H3 {
    font-family: var(--font-heading);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-headline);
    margin-bottom: var(--space-headline);
}

%TEXT {
    font-family: var(--font-base);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    font-weight: var(--weight-light);
}

%TEXT-SMALL {
    font-family: var(--font-base);
    font-weight: var(--weight-light);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}

.h1 {
    @extend %H1;
}

.h2 {
    @extend %H2;
}

.h3 {
    @extend %H3;
}

.text-default {
    @extend %TEXT;
}

.text-small {
    @extend %TEXT-SMALL;
}

a {
    cursor: pointer;
    color: var(--color-text-default);
    text-decoration: none;
    font-family: var(--font-base);
    font-weight: var(--weight-light);

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

@keyframes headlineGrowth {
	0% {
		font-variation-settings: 'wght' 700, 'wdth' 100, 'slnt' 0;
	}
	60% {
		font-variation-settings: 'wght' 100, 'wdth' 10, 'slnt' 12;
	}
	
	100% {
		font-variation-settings: 'wght' 600, 'wdth' 100, 'slnt' 0;
	}
}

@keyframes headlineShrink {
	0% {
		font-variation-settings: 'wght' 100, 'wdth' 10', opsz' 144;
	}
	60% {
		font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 8;
	}
	
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 10, 'opsz' 144;
	}
}

.headline-will-animate {
    font-variation-settings: "wght" 300, 'wdth' 10, 'GRAD' 88;
	transition: all 1.5s cubic-bezier(.68,-0.55,.27,1.55);

    span {
        font-variation-settings: "wght" 700, 'wdth' 90;
        transition: all 1.5s cubic-bezier(.68,-0.55,.27,1.55) 0.3s;
    }
    &::before {
        font-variation-settings: "wght" 700, 'wdth' 90, 'GRAD' 150;
    }

    &.in-view {        
        //animation: headlineGrowth 1500ms forwards;
        font-variation-settings: "wght" 700, 'wdth' 90, 'GRAD' 150;

        span {           
            //animation: headlineShrink 1500ms forwards 500ms; 
            font-variation-settings: "wght" 300, 'wdth' 10;
        }
        &::before {
            font-variation-settings: "wght" 700, 'wdth' 90, 'GRAD' 150;
        }
    }
}